<nav class="sidebar bg-white d-flex flex-column justify-content-between border-end py-3">
  <ul class="list-unstyled d-flex flex-column">
    <%- include('_sidebar-item', { 
    	title: 'Menu', 
    	active: true, 
    	icon: '<i class="fa-solid fa-utensils"></i>'
    }); -%> 
  	<%- include('_sidebar-item', { 
  		title: 'Bills', 
  		active: false, 
  		icon: '<i class="fa-solid fa-receipt"></i>'
	 	}); -%> 
  	<%- include('_sidebar-item', { 
  		title: 'Notif', 
  		active: false, 
  		icon: '<i class="fa fa-bell"></i>' 
  	}); -%>
  	<%- include('_sidebar-item', { 
  		title: 'Call', 
  		active: false, 
  		icon: '<i class="fa-solid fa-bell-concierge"></i>' 
  	}); -%>
  </ul>
  <ul class="list-unstyled d-flex flex-column m-0">
    <%- include('_sidebar-item', { 
    	title: 'Info', 
    	active: false, 
    	icon: '<i class="fa fa-info-circle"></i>' 
    }); -%>
  </ul>
</nav>
